@using RealityEstate.Models.Entities;

@model Offer

<a asp-controller="Detail" asp-action="Index" asp-route-id="@Model.ID">
    @if (@Model.Images.Count != 0)
    {
        <img src="@Model.Images[0].Path">
    }
    else
    {
        <img src="/podklady/noimage.jpg">
    }

    <h2>@Model.Name, @Model.Size m<sup>2</sup></h2>
    <h5>@Model.Price,- / měsíc</h5>
    <p>@Model.ShortInfo</p>
</a>