@using RealityEstate.Models.Entities;
@model Filter;

<div class="content">   

    <div id="filters">
        <h1>Filter</h1>
        <form asp-action="Index">
            <div id="filter-search" class="search-input">
                <input type="text" asp-for="Region" placeholder="Vyhledávání podle města...">
            </div>

            <div>
                <div>
                     <select asp-for="IDCategory" >
                    <option>Select Category</option>
                    @foreach (Category item in ViewBag.Categories)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                    </select>
                </div>
               
            </div>

            <div>
                <div>
                    <label asp-for="MinPrice"></label>
                    <input asp-for="MinPrice" min="0">
                </div>

                <div>
                    <label asp-for="MaxPrice"></label>
                    @*<input type="range" asp-for="MaxPrice" min="0" max="@Model.MaxPriceSet"/>*@
                    <input asp-for="MaxPrice" min="0" />
                </div>
            </div>
            
            <div>
                <div>
                    <label>Počet pokojů</label>
                    <input @*type="range"*@ asp-for="RoomCount" /> 
                </div>

                <div>
                    <label>Počet koupelen</label>
                    <input @*type="range"*@ asp-for="BathCount"/> 
                </div>
            </div>
           
           <div>
               <div>
                 <label asp-for="Size"></label>
                  <input asp-for="Size" /> 
                </div>   

                <div>
                    <button class="search-button" type="submit">HLEDAT</button>
                 </div>
           </div>
            
        </form>
    </div>

    <div class="offer">

        @for (int i = 0; i < @ViewBag.ShowedOffers.Count; i++)
        {
            <vc:offer-component offer="@ViewBag.ShowedOffers[i]"></vc:offer-component>
        }

        @if(ViewBag.ShowedOffers.Count == 0)
        {
           <div class="alert alert-danger" role="alert">
                Podle vašeho filtru nebyla nalezena žádná nabídka.
           </div>
        }
    </div>
</div>
